--- 
BasedOnStyle: Microsoft 

ColumnLimit: '100'
AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
# AlignArrayOfStructures: Right
BreakConstructorInitializers: BeforeComma
AlwaysBreakTemplateDeclarations: Yes
...

